@import './reset.scss';
@import './mixin.scss';
@import './variables.scss';
body {
  background: #f2f2f2;
}
#app {
  color: #333333;
  font-family: Arial, Helvetica, 'Microsoft YaHei', sans-serif;
  background: #f2f4f7;
  max-width: 375px;
  margin: 0 auto;
}
